DB_NAME=care_link_db
DB_USER=yourUserName
DB_PASSWORD=yourPassword
DB_HOST=localhost
DB_PORT=3306
#                       you must leave a space between username and password here :__:
DB_ADMIN_USER_AND_PASS=yourUserName userPssword